# Created by .ignore support plugin (hsz.mobi)

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.html

/testCase/report/
/testCase/result/
/result/
testCase/grid/Baidu_test_report.html
testCase/grid/Baidu_test_report1.html
/report/